@page
@model ContactModel
@{
ViewData["Title"] = "Contact/Help";
}
<h1>Contact Us</h1>
<address>
   CouponReady Inc.<br />
   Cincinnati, Ohio 45220, USA<br />
   <abbr title="Phone">Ph:</abbr>
   1-513-399-9999
</address>
<address>
   <strong>Support Ready:</strong> <a href="mailto:Support@CReady.com">Support@CReady.com</a><br />
   <strong>Marketing Enquiries:</strong> <a href="mailto:Marketing@CReady.com">Marketing@CReady.com</a>
</address>
<h4>Home Page</h4>
<img src="/images/home.jpg" height="150" width="250">
<p>Home page provides links to all the functionalities of CouponReady application</p>
<hr>
<h4>Coupon Info Page</h4>
<img src="/images/DataDriven.jpg" alt="Coupon Info" height="150" width="250">
<p>This page provides information of a coupon. The coupon id can be replaced as last digit of url</p>
<hr>
<h4>Quick Glance</h4>
<img src="images/QuickGlance.jpg" alt="Quick Glance" height="150" width="250">
<p>Quick Glance page illustrates Coupon Name and Coupon Category</p>
<hr>
<h4>Search Coupon</h4>
<img src="images/SearchCoupon.jpg" alt="Search Coupon" height="150" width="250">
<p>This page helps user to find any Coupon/s by name</p>
<hr>
<h4>Expire Coupon</h4>
<img src="images/ExpireCoupon.jpg" alt="Expire Coupon" height="150" width="250">
<p>Expire Coupon page lets the administrator expire any coupon by changing the Expiry Date of the coupon</p>
<hr>
<h4>Search Customer</h4>
<img src="images/SearchCustomer.jpg" alt="Search Customer" height="150" width="250">
<p>This page helps user to find any Customer/s by name</p>
<hr>
<h4>Coupon Analysis</h4>
<img src="images/CouponAnalysis.jpg" alt="Coupon Analysis" height="150" width="250">
<p>This page helps user to make analysis on the coupons brought by customers</p>
<hr>