@page
@model LocationModel
@{
    ViewData["Title"] = "Location";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Place the geocoder input outside the map</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:90%; }
        #locimg{
            background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/locationimg.jpg);
            background-size: cover;
        }
        }
    </style>
</head>
<body id="locimg">
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />
<style>
    .geocoder {
        position:relative;
        z-index:5;
        width:40%;
        left:20%;
        margin-left:20%;
        margin-top:10%;
    }
    .mapboxgl-ctrl-geocoder { min-width:100%; }
</style>
<div id='map'></div>
<div id='geocoder' class='geocoder'></div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoicmFodWxwcmluY2kiLCJhIjoiY2pwYjA0enVkMXczOTN3cXNrbWNhdWVnbSJ9.V0XZWrXA-X8ISGn0cAusbQ';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9',
    center: [-79.4512, 43.6568],
    zoom: 13
});

var geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
});

document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
</script>

</body>
</html>